@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Series";
}

@model Dictionary<string, List<Series>>

<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>@SharedLocalizer["Series"]</title>
    <link href="~/css/customStyles.css" rel="stylesheet"/>
</head>

<h1>@SharedLocalizer["SuccessfullyRenamedFiles"]</h1>

@Html.DisplayFor(model => model, "SeriesTable")