@using BulkRename.Constants
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer[LocalizationConstants.SERIES];
}

@model Dictionary<string, List<Series>>

<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>@SharedLocalizer[LocalizationConstants.SERIES]</title>
    <link href="~/css/customStyles.css" rel="stylesheet"/>
</head>

<h1>@SharedLocalizer[LocalizationConstants.SUCCESSFULLY_RENAMED_FILES]</h1>

@Html.DisplayFor(model => model, "SeriesTable")