@{
    ViewData["Title"] = "History";
}

@model Dictionary<string, List<Series>>

<!DOCTYPE html>

<head>
    <title>History</title>
    <meta charset="utf-8" />
</head>

<head>
    <meta charset="utf-8" />
    <title>Series</title>
    <link href="~/css/customStyles.css" rel="stylesheet" />
</head>

<div class="text-start">
    <a class="btn btn-primary" href="@Url.Action("LoadHistory", "History")">Load History</a>
</div>

<br />

@Html.DisplayFor(model => model, "SeriesTable")