/*custom table*/

td.oldname {
    background: #fa6666;
}

td.newname {
    background: #05ca05;
}

.customtable {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
}

.customtable td {
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}
