@{
    ViewData["Title"] = "Home";
}

<head>
    <title>Kezdőlap</title>
    <meta charset="utf-8"/>
</head>

<div class="text-center">
    <h1 class="display-4">Üdvözöl a BulkRename!</h1>
    <a class="btn btn-primary" href="Series">TV-műsorok átnevezése előnézet</a>
</div>