on:
  workflow_call:
    inputs:
      image_version:
        type: string
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ vars.IMAGE_NAME }}
        path: /tmp
    - name: Load Docker image
      run: |
        docker load --input /tmp/${{ vars.IMAGE_NAME }}.tar
        docker image ls -a
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Docker Push
      shell: pwsh
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}:${{ inputs.image_version }}
